body{
    background-image:url('https://images.pexels.com/photos/696680/pexels-photo-696680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

img{
  margin-bottom: 10px;
}


h5{
    text-align: center;
    color:navy;
    font-family: monospace;
    margin: 10px;
}

.card-body{
    color:navy;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    margin: 10px;
  }

h4{
  text-align: center;
  text-shadow: aqua;
  color:snow;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 5px; 
  margin-top: 50px;
}

  .row> div{
    text-align: center;
    text-size-adjust:auto;
    font-weight: bold;
    padding: 10px;
    background-color:snow;
    margin: 15px;
    font-family: monospace;
    border-style: groove;
    }


.links{
        margin:40px;
    }

footer{
    margin:30px;
    background-color:navy;
    color:snow;
    font-family: monospace;
}
