body{
    background-image:url('https://images.pexels.com/photos/696680/pexels-photo-696680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

img{
  padding: auto;
}


h5{
    text-align: center;
    color:darkgreen;
    font-family: monospace;
    margin: 20px;
}

.card-body{
    color:gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
  }

h3{
  text-align: center;
  text-shadow: aqua;
  color:greenyellow;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 2.2%;  
}

  .row> div{
    text-align: center;
    text-size-adjust:auto;
    font-weight: bold;
    padding: 10px;
    background-color:snow;
    margin: 2px;
    font-family: monospace;
    }


.links{
        margin:50px;
    }

footer{
    margin:30px;
    background-color:greenyellow;
    color:black;
    font-family: monospace;
}
